nav {
    padding: 0!important;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    stroke-width: 2px;
    fill: var(--color-primary);
    height: 70px;
    padding: 0;
    margin: 0;
}

svg {
    transform: translateX(10px);
}

