@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif !important;
  background: radial-gradient(circle at center, #ECCD97 0, #DFC185 100%);
}

